# Version: 10.0.0
---
Language:        Cpp
BasedOnStyle:    Google
AlignAfterOpenBracket: AlwaysBreak
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120
KeepEmptyLinesAtTheStartOfBlocks: false
SortIncludes:    false
...
